<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHP Project: Chessboard</title>

    <style>
        div{
            width: 30px;
            height: 30px;
        }
    </style>
</head>
<body>
    asdlfkjasdf
    <br />

        {{key}}



    <table style ="border: 2px solid black">
        {% for row in color_array %}
        <tr>
            {% for cell in row %}
            <td>
                {% if cell == 1 %}
                    <div class="black"></div>
                {% else %}
                    <div class="white"></div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>


</body>
</html>